header {
    font-size: 14px;
    background-color: #474747;
    color: whitesmoke;
    text-align: center;
    height: 10%;
    nav {
        li {
            display: flex;
            position: sticky;
            text-align: center;
            justify-content: space-evenly;
            width: 80%;
            left: 15.5%;
            padding: 0.5rem;
            margin-top: 0.25rem;
        }
    }
}

.bg-secondary {
    h1 {
        margin-bottom: 0 !important;
    }
}

.container {
    position: relative;
    left: -10%;
}

.nav-link {
    width: 7rem;
}